<h1>Create a new ARTICLE</h1>
<form method="post" action="/articles">
    <input type="text" placeholder="title" name="title">
    <input type="text" placeholder="content" name="content">
    <input type="submit" id="submit">
</form>