<form action="/articles/<%=@article.id%>" method="POST">
  <input type="hidden" name="_method" value="patch"/>
  <ul>
    <li>
      <label for="title">Title</label>
      <input type="text" name="article[title]" value="<%=@article.title%>" id="title"/>
    </li>
    <li>
      <label for="content">Content</label>
      <textarea type="text" name="article[content]" value="<%=@article.content%>" id="content"/>
    </li>
  </ul>
  <input type="submit"/>
</form>
