<form method="POST" action="/articles">
  <p>Article Title: <input type="text" name="title" id='title'></p>
  <p>Content: <input type="text" name="content" id='content'></p>
  <input id="submit" type="submit">
</form>
